      // Custom flavours template for jacknemitz.com
      // {{scheme-name}} scheme by {{scheme-author}}
      'shade-1': '#{{base00-hex}}',
      'shade-2': '#{{base01-hex}}',
      'shade-3': '#{{base02-hex}}',
      'shade-4': '#{{base03-hex}}',
      'light-4': '#{{base04-hex}}',
      'light-3': '#{{base05-hex}}',
      'light-2': '#{{base06-hex}}',
      'light-1': '#{{base07-hex}}',
      'red': '#{{base08-hex}}',
      'yellow': '#{{base09-hex}}',
      'aqua': '#{{base0B-hex}}',
      'blue': '#{{base0C-hex}}',
      'purple': '#{{base0A-hex}}',
      'brown': '#{{base0B-hex}}',
