#!/bin/bash

#              ,---------------------------,
#              |  /---------------------\  |
#              | |                       | |
#              | |     Jack Nemitz       | |
#              | |      .dotfiles        | |
#              | |       aliases         | |
#              | |                       | |
#              |  \_____________________/  |
#              |___________________________|
#            ,---\_____     []     _______/------,
#          /         /______________\           /|
#        /___________________________________ /  | ___
#        |                                   |   |    )
#        |  _ _ _                 [-------]  |   |   (
#        |  o o o                 [-------]  |  /    _)_
#        |__________________________________ |/     /  /
#    /-------------------------------------/|      ( )/
#  /-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/ /
#/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/ /
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 

## some of these scripts are inspired from a youtube video on bash dotfiles that I can no longer find

alias sourcebash='clear && source ~/.bash_profile';                    # sources all config files 

###############################################
############ Navigation Shortcuts #############
###############################################

alias ..='cd ..';
alias ...='cd ../..';
alias ....='cd ../../..';
alias .....='cd ../../../..';
## some of the following commands are specific to my folder structure, modify to fit your needs
alias dl='cd ~/Downloads';
alias dt='cd ~/Desktop';
alias master='cd ~/Desktop/master';
alias school='cd ~/Desktop/master/school';
alias projects='cd ~/Desktop/master/projects';
alias root='cd /';

###############################################
################ Git Shortcuts ################
###############################################

alias gs='git status';
alias ga='git add';
alias gc='git commit';
alias gp='git push';
alias gl='git log';
alias gb='git branch';

###############################################
################ App Shortcuts ################
###############################################

## again, these commands are tailored for my use, add/remove commands as you need them
alias sbl='open -a "/Applications/Sublime Text.app"';
alias brackets='open -a "/Applications/Brackets.app"';
alias intellij='open -a "/Applications/IntelliJ IDEA CE.app"';
alias safari='open -a Safari'
alias firefox='open -a Firefox'
## spotify shortcuts
alias spotpl='spotify play';
alias spotpa='spotify pause';

alias vim="vim -S ~/.vim/.vimrc";                                      # opens vim by sources .vimrc 

###############################################
################ SSH Shortcuts ################
###############################################

## The following commands ssh to remote servers, I placed the actual ssh commands in the private "servers.sh" file
alias atlas="source ./scripts/servers.sh && atlas";
alias webserver="source /Users/jacknemitz/dotfiles/scripts/servers.sh && webserver";

###############################################
################ Gen Shortcuts ################
###############################################

# Hide/show all desktop icons (useful when presenting)
## Got this one from some Youtube video, I like a clutter free desktop
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# Stuff I never really use but cannot delete either because of http://xkcd.com/530/
alias stfu="osascript -e 'set volume output muted true'"
alias pumpitup="osascript -e 'set volume output volume 100'"
# Lock the screen (when going AFK) !!bigsur changed file location, need to rewrite path!!
## found solution online. runs shell script to lock screen via applescript.
alias afk="~/dotfiles/scripts/lockscreen.sh"
alias AFK="pmset displaysleepnow"
# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'


# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
    colorflag="--color"
else # OS X `ls`
    colorflag="-G"
fi

# List all files colorized in long format, including dot files
alias la="ls -gAhFo ${colorflag}"
# List all files colorized in long format, excluding dot files
alias ls="ls -hF ${colorflag}"

# Always use color output for `ls`
alias ls="command ls ${colorflag}"
export LS_COLORS='no=00:fi=00:di=04;35:ln=01;36:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arj=01;31:*.taz=01;31:*.lzh=01;31:*.zip=01;31:*.z=01;31:*.Z=01;31:*.gz=01;31:*.bz2=01;31:*.deb=01;31:*.rpm=01;31:*.jar=01;31:*.jpg=01;35:*.jpeg=01;35:*.gif=01;35:*.bmp=01;35:*.pbm=01;35:*.pgm=01;35:*.ppm=01;35:*.tga=01;35:*.xbm=01;35:*.xpm=01;35:*.tif=01;35:*.tiff=01;35:*.png=01;35:*.mov=01;35:*.mpg=01;35:*.mpeg=01;35:*.avi=01;35:*.fli=01;35:*.gl=01;35:*.dl=01;35:*.xcf=01;35:*.xwd=01;35:*.ogg=01;35:*.mp3=01;35:*.wav=01;35:'

export LSCOLORS='Gxfxcxdxbxegedabagacad'
