#!/bin/bash


# Create a new directory and enter it
function mkd() {
    mkdir -p "$@" && cd "$_";
}

# create new project. make git repo. etc.
function project() {
    readme="README.md";
    cd ~/Desktop/master/coding_projects/
    read -p "Project Name: " project;
    read -p "init file: " init;
    if [[ $init == *.py ]]; then
        cd ~/Desktop/master/coding_projects/python/;
    elif [[ $init == *.html ]]; then
        cd ~/Desktop/master/coding_projects/web-dev/;
    fi;
    mkd $project;
    touch $init;
    read -p "Create Git repo? (y/n): " res;
    if [[ $res == "y" ]]; then
        touch $readme;
        curl -u "terminalPoltergeist:qabvit-typGoj-dobri3" https://api.github.com/user/repos -d '{"name":"'"$project"'", "private":"true"}'
        sleep 1;
        git init;
        touch ".gitignore"
        git add .;
        git commit -m 'initial commit';
        git branch -M master;
        git remote add origin https://github.com/terminalPoltergeist/$project.git;
        git push -u origin master;
    fi;
    if [[ $init == *.py ]]; then
        sbl $init;
    elif [[ $init == *.html ]]; then
        brackets $init;
    fi;
};

function gitit() {
    command git status;
    command git add .;
    command git commit -m "auto commit";
    command git push;
};


function goodmorning(){
    for v in /Volumes/*; do
        echo "$v Mounted"
    done
};

function goodnight() {
    command sudo tmutil stopbackup;
    for v in /Volumes/*; do
    if [[ $v != *"Macintosh HD" && $v != *"Recovery"* && $v != "pi" ]]; then
        echo "Unmounting $v..."
        command diskutil unmount "/$v";
        echo
    fi;
    done
    count=10;
    while [[ count -gt 0 ]]; do
        count=$((count-1));
        echo "Computer will sleep in: ${count}";
        command sleep 1;
    done
    command pmset sleepnow;
};


function lecture() {
    today=0
    today=$(date '+%m-%d');
    command cd ~/Desktop/master/school/csci1133/lectures;
    new_lecture=$today".py";
    touch $new_lecture;
    command open -a "/Applications/Sublime Text.app" $new_lecture;
    alias run='python3 $new_lecture';
}

function lab() {
    today=command date '+%m-%d';
    command cd ~/Desktop/master/school/csci1133/labs;
    new_lab=$today".py";
    touch $new_lab;
    command open -a "/Applications/Sublime Text.app" $new_lab;
    alias run='python3 $new_lab';
}

function homework() {
    today=0
    today=$(date '+%m-%d');
    command cd ~/Desktop/master/school/csci1133/homework;
    new_hw=$today".py";
    touch $new_hw;
    command open -a "/Applications/Sublime Text.app" $new_hw;
    alias run='python3 $new_hw';
}
