# Base16 {{scheme-name}} - alacritty color config
# {{scheme-author}}
colors:
  # Default colors
  primary:
    background: '#{{base00-hex}}'
    foreground: '#{{base07-hex}}'

  # Colors the cursor will use if `custom_cursor_colors` is true
  cursor:
    text: '#{{base07-hex}}'
    cursor: '#{{base08-hex}}'

  # Normal colors
  normal:
    black:   '#{{base00-hex}}'
    red:     '#{{base08-hex}}'
    green:   '#{{base09-hex}}'
    yellow:  '#{{base0A-hex}}'
    blue:    '#{{base0B-hex}}'
    magenta: '#{{base0C-hex}}'
    cyan:    '#{{base0D-hex}}'
    white:   '#{{base07-hex}}'

  # Bright colors
  bright:
    black:   '#{{base02-hex}}'
    red:     '#{{base08-hex}}'
    green:   '#{{base09-hex}}'
    yellow:  '#{{base0A-hex}}'
    blue:    '#{{base0B-hex}}'
    magenta: '#{{base0C-hex}}'
    cyan:    '#{{base0D-hex}}'
    white:   '#{{base07-hex}}'
draw_bold_text_with_bright_colors: true
