# base16-shell (https://github.com/chriskempson/base16-shell)
# Base16 Zsh template by terminalPoltergeist (https://github.com/terminalPoltergeist)
# {{scheme-name}} scheme by {{scheme-author}}

export background='#{{base00-hex}}'
export foreground='#{{base05-hex}}'
export text='#{{base00-hex}}'
export cursor='#{{base05-hex}}'
export black='#{{base00-hex}}'
export red='#{{base08-hex}}'
export green='#{{base0B-hex}}'
export yellow='#{{base0A-hex}}'
export blue='#{{base0D-hex}}'
export magenta='#{{base0E-hex}}'
export cyan='#{{base0C-hex}}'
export white='#{{base05-hex}}'
export light_black='#{{base03-hex}}'
export light_red='#{{base08-hex}}'
export light_green='#{{base0B-hex}}'
export light_yellow='#{{base0A-hex}}'
export light_blue='#{{base0D-hex}}'
export light_magenta='#{{base0E-hex}}'
export light_cyan='#{{base0C-hex}}'
export light_white='#{{base07-hex}}'
