export BLACK=0xff{{base00-hex}}
export WHITE=0xff{{base06-hex}}
export RED=0xff{{base08-hex}}
export GREEN=0xff{{base0B-hex}}
export BLUE=0xff{{base0C-hex}}
export YELLOW=0xff{{base0A-hex}}
export ORANGE=0xff{{base09-hex}}
export MAGENTA=0xff{{base0E-hex}}
export GREY=0xff{{base04-hex}}
export TRANSPARENT=0x00000000

# General bar colors
export BAR_COLOR=0xff{{base03-hex}}
export ICON_COLOR=$WHITE # Color of all icons
export LABEL_COLOR=$WHITE # Color of all labels
export BACKGROUND_1=0xBF{{base01-hex}}
export BACKGROUND_2=0xff{{base02-hex}}

